<li class='list'>
  <%= link_to "#" do %>
    <div class='item-img-content'>
      <%= image_tag "item-sample.png", class: "item-img" %>
      <%# 商品が売れていればsold outを表示しましょう %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <%# //商品が売れていればsold outを表示しましょう %>
    </div>
    <div class='item-info'>
      <h3 class='item-name'>
        <%= "商品名" %>
      </h3>
      <div class='item-price'>
        <span><%= "販売価格" %>円<br>
          <%= '配送料負担' %></span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
  <% end %>
</li>